@{
    ViewBag.Title = "LoadRail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Scanware.Data
@{
   
    function_level_security logged_in_user = new function_level_security(HttpContext.Current.Session["function_level_security"] as List<function_level_security>);

}


<h2>OP Return Validate</h2>

@if (Model.Error != null)
{
    <div class="panel panel-red">
                        <div class="panel-heading">
                            Error
                        </div>
                        <div class="panel-body">
                            <p>@Model.Error</p>
                        </div>
                    </div>
}

@if (Model.Message != null)
{
    <div class="panel panel-green">
                        <div class="panel-heading">
                            Message
                        </div>
                        <div class="panel-body">
                            <p>@Model.Message</p>
                        </div>
                    </div>
}



<div class="panel panel-primary">
    <div class="panel-heading">
        OP Return Validate
    </div>

    <div class="panel-body">


        <form action="/Shipping/OPReturnValidateDimensions" method="post" id="OPReturnValidateDimensions" name="OPReturnValidateDimensions" id="OPReturnValidateDimensions">
        <input type="hidden" name="production_coil_no" value="@Model.op_coil.production_coil_no" />

        <table class="table table-striped table-bordered">
        <tbody>

            <tr><td style="width:155px;">OP Tag Number</td><td>@Model.op_coil.tag_no</td></tr>
            <tr><td style="width:155px;">Production Coil No</td><td>@Model.op_coil.production_coil_no</td></tr>
            <tr><td style="width:155px;">Location</td><td>@Model.op_coil.coil_yard_location</td></tr>
            <tr><td style="width:155px;">Add Date</td><td>@Model.op_coil.add_datetime</td></tr>

            <tr><td style="width:155px;">System Weight</td><td>@Model.current_all_produced_coil.coil_weight</td></tr>
            
            <tr><td style="width:155px;">Measured Weight</td><td><input type="text" name="coil_weight" class="form-control" id="coil_weight"/></td></tr>

            <tr><td style="width:155px;">System Width</td><td>@Math.Round(Model.current_all_produced_coil.coil_width,2)</td></tr>
            <tr><td style="width:155px;">Measured Width</td><td><input type="text" name="coil_width" class="form-control" id="coil_width" /></td></tr>

            <tr><td style="width:155px;">System Thickness</td><td>@Math.Round(Model.current_all_produced_coil.coil_thickness, 4)</td></tr>
            <tr><td style="width:155px;">Measured Thickness</td><td><input type="text" name="coil_thickness" class="form-control" id="coil_thickness" /></td></tr>

               
        </tbody>
        </table>

            <a class="btn btn-primary" onclick="javascript:validate();">Submit</a>

        </form>

    </div>
</div>
    


   <script type="text/javascript">

       function validate() {
           //alert($("#coil_weight").val());
           var system_weight = @Model.current_all_produced_coil.coil_weight;
           var system_width = @Model.current_all_produced_coil.coil_width;
           var system_thickness = @Model.current_all_produced_coil.coil_thickness;

           $(".form-control").css("border", "1px solid #ccc");

           if($("#coil_weight").val() > system_weight + 50 || $("#coil_weight").val() < system_weight - 50){

               alert("Coil Weight Outside +/- 50 pound tolerance");
               $("#coil_weight").css("border", "1px solid red");
               $("#coil_weight").focus();

           }
           else if($("#coil_width").val() > system_width + .125 || $("#coil_width").val() < system_width - .125){

               alert("Coil Width Outside +/- .125 inch tolerance");
               $("#coil_width").css("border", "1px solid red");
               $("#coil_width").focus();
           }
           else if($("#coil_thickness").val() > system_thickness + .003 || $("#coil_thickness").val() < system_thickness - .003){

               alert("Coil Thickness Outside +/- .003 inch tolerance");
               $("#coil_thickness").css("border", "1px solid red");
               $("#coil_thickness").focus();

           }
           else{

               $("#OPReturnValidateDimensions").submit();

           }



       }

   </script>